<!-- templates/compensacion.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>compensacion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/tablaRegistros.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/compensacion.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
</head>
<body>
  <div class="dashboardContent">
    {% extends 'views/sidebar.html' %}

    {% block content %}
    <div class="dashboard">
        <div>
            <h2>Compensación</h2>
        </div>
        <div class="cards">
            <section class="cardContainer">
                <!-- card solo para admin  -->
                {% if 'sede' in session and session['cargo'] == '02' %}
                <div class="admin">
                    <h1>vista admin</h1>
                    <h5>Sede Actual: </h5>
                    <h5>Ultima actualizacion: </h5>
                </div>
                {% endif %}
                <!-- fin card  -->
                  <div class="calendar">
                    <label for="date1">Fecha Inicial</label>
                    <input type="date" id="date1" name="date1">
                </div>
                <div class="calendar">
                    <label for="date2">Fecha Final</label>
                    <input type="date" id="date2" name="date2">
                </div>
                <!-- desplegable para el admin  -->
                {% if 'sede' in session and session['cargo'] == '02' %}
                    <select id="sede" name="sede" class="calendar">
                        <option value="" disabled selected>
                          Selecciona la sede...
                        </option>
                        <option value="LA 33">La 33</option>
                                  <option value="SAN CRISTOBAL">San Cristobal</option>
                                  <option value="LOS BALSOS">Poblado</option>
                                  <option value="RIONEGRO">Rionegro</option>
                                  <option value="SABANETA AVENIDA">Sabaneta Avenida</option>
                                  <option value="INTERMEDIA">Intermedia</option>
                                  <option value="PRADO">San Antonio de Prado</option>
                                  <option value="SABANETA PARQUE">Sabaneta Parque</option>
                                  <option value="PEDREGAL">Pedregal</option>
                                  <option value="SAN JOAQUIN">San Joaquin</option>
                                  <option value="FLORESTA">Floresta</option>
                                  <option value="SAN MARCOS">San Marcos</option>
                                  <option value="LAURELES">Laureles</option>
                                  <option value="Administrador">Administrador</option>
                      </select>
                      {% endif %}
                      <!-- fin desplegable  -->
                <div id="loaderBuscar" style="display: none;">
                    <i class="fas fa-spinner fa-spin"></i> Buscando...
                </div>
                <button id="buscarBtn" type="button" onclick="buscarRegistros()">Buscar</button>
                <div id="loaderExportar" style="display: none;">
                    <i class="fas fa-spinner fa-spin"></i> Exportando...
                </div>
                <button id="exportarBtn" type="button" onclick="exportToExcel()">Exportar a Excel</button>
            </section>
            <section class="table">
                <div class="headerTable">
                    <h2>Auxiliares</h2>
                </div>
                <div class="tableList">
                    {% include "views/tablaRegistros.html" %}
                </div>
            </section>
        </div>
  </div>
  <script src="../../static/js/buscarRegistros.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  {% endblock %}
  
</body>
</html>