<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/tablaRegistros.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
  </head>
  <body>
    {% block content %}
    <div class="container-table">
      <table id="tablaRegistros" class="tabla">
        <thead>
          <tr>
            <th align="center">Username</th>
            <th align="center">Cargo</th>
            <th align="center">Sede</th>
            <th align="center">Estado</th>
            <th align="center">Modificar</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr data-id="{{ user.id }}">
            <td>{{ user.username }}</td>
            <td>{{ user.cargo }}</td>
            <td>{{ user.sede }}</td>
            <td>Activo</td>
            <td>
                <a href="#" class="activate"><i class="fas fa-pen"></i>Actualizar</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  
      <section class="modal-update">
        <div class="container-m">
          <div class="close">
            <button class="modalclose">X</button>
          </div>
          <form  id="registrationForm" method="POST" action="{{url_for("actualizarUser")}}">
            <div class="inputContainer-register">
                <div class="left-register">
                    <label for="usuario">Usuario</label>
                    <input name="username" id="username" type="text" placeholder="Usuario..." required>
                </div>
                <i class="fa fa-user"></i>
            </div>
            <div class="inputContainer-register">
                <div class="left-register">
                    <label for="password">Contraseña</label>
                    <input name="password" id="password" type="password" placeholder="Contraseña" required>
                </div>
                <i class="fa fa-lock"></i>
            </div>
            <div class="inputContainer-register">
                <div class="left-register">
                    <label for="password">Contraseña</label>
                    <input name="passwordConfirm" id="passwordConfirm" type="password" placeholder="Confirmar Contraseña" required>
                </div>
                <i class="fa fa-lock"></i>
            </div>
            <div class="inputContainer-register">
                <div class="left-register">
                    <select id="cargo" name="cargo" class="opcion-select">
                      <option value="" disabled selected>
                        Selecciona tu cargo...
                      </option>
                      <option value="01">Gestion Humana</option>
                      <option value="02">Administrador</option>
                      <option value="03">Lider de Cajas</option>
                      <option value="04">Isontrol</option>
                    </select>
                </div>
                  <i class="fa fa-store"></i>
            </div>
            <div class="inputContainer-register">
                <div class="left-register">
                    <select id="sede" name="sede" class="opcion-select">
                      <option value="" disabled selected>
                        Selecciona la sede...
                      </option>
                      <option value="LA 33">La 33</option>
                      <option value="SAN CRISTOBAL">San Cristobal</option>
                      <option value="LOS BALSOS">Poblado</option>
                      <option value="RIONEGRO">Rionegro</option>
                      <option value="SAB. CENTRAL">Sabaneta Avenida</option>
                      <option value="INTERMEDIA">Intermedia</option>
                      <option value="PRADO">San Antonio de Prado</option>
                      <option value="SAB. PARQUE">Sabaneta Parque</option>
                      <option value="PEDREGAL">Pedregal</option>
                      <option value="SAN JOAQUIN">San Joaquin</option>
                      <option value="FLORESTA">Floresta</option>
                      <option value="SAN MARCOS">San Marcos</option>
                      <option value="LAURELES">Laureles</option>
                    </select>
                </div>
                  <i class="fa fa-store"></i>
            </div>
            <button type="submit" class="registroBtn">Actualizar</button>
                <div class="msg">
                    <div class="mensaje" id="msg">{{ msg }}</div>
                </div> 
            </div>
        </form>
        </div>
      </section>
  
      <script src="../../static/js/modalUpdate.js"></script>   
    </div>
    {% endblock %}
  </body>
</html>
