@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
.dashboardIndex {
    display: flex;
    .nav{
        width: 100%;
        display: flex;
    }
    .container {
        margin: 10px;
        padding: 20px;
        width: 79vw;
        height: 95vh;
        border-radius: 8px;
        background-color: #f0f0f0;
        box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.2);

        #title{
            margin: 10px;
            color: #27374d;
        }

        .option{
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }

        .openModalBtn{
            background-color: #27374d;
            padding: 10px;
            border-radius: 6px;
            color: #fff;
            margin: 10px;
            cursor: pointer;
        }
    }  
}
/* estilos modal  */
.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
}

.modal--show{
    opacity: 1;
    pointer-events: unset;
}

.modal__container{
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: #fff;
    border-radius: 6px ;
    padding: 15px 40px 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* estilos formulario  */
.close{
    display: flex;
    justify-content: flex-end;
}
.modal__close{
    background-color: #27374d;
    border: none;
    cursor: pointer;
    width: 40px;
    border-radius: 6px;
    color: #f0f0f0;
    transition-duration: 0.3s;
}
form {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    .inputContainer-register{
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #ececec;
      padding: 10px 15px;
      border-radius: 8px;
      margin: 5px;

      .left-register {
        display: flex;
        flex-direction: column;
        gap: 3px;
        width: 80%;

        label {
          font-size: 11px;
        }
        
        input {
          border: none;
          font-weight: bold;
          background-color: inherit;
          font-size: 13px;
          color: #2f2f2f;
          outline: none;
        }
        .opcion-select {
          border: none;
          font-weight: bold;
          background-color: inherit;
          font-size: 13px;
          color: #2f2f2f;
          outline: none;
          padding: 10px;
        }  
      }
    }

    .registroBtn {
      border: none;
      margin: 5px 5px;
      cursor: pointer;
      font-weight: 600;
      font-size: 16px;
      color: white;
      background-color: #27374d;
      border-radius: 8px;
      transition-duration: 0.3s;
    }

    .registroBtn:hover{
      background-color: #4235d6;
    }
  }

.msg {
  text-align: center;
  padding: 10px;
  display: none;
}
p{
  font-size: 12px;
  padding: 10px;
}